html {
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: 1.5;
  font-size: 0.8em;
}

/* Info bar on top */
.noscript #topbar {
  display: none;
}
#topbar {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.8);
  height: 3em;
}

iframe {
  display: none;
}

body.details > #container {
  bottom: 121px;
}

#pushes .machineResult,
.popupForm .machineResult {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 0.2em 2px;
  float: left;
  outline: none !important;
}

a {
  text-decoration: none;
}
a:visited, a:focus {
  color: #528;
  outline: none;
}
a:hover {
  text-decoration: underline;
  color: #D00;
}
a:active {
  color: #800;
}


/* Selected results */
#details {
  display: none;
  border-top: 1px solid #DDD;
  position: absolute;
  padding: 0;
  z-index: 4;
  left: 0;
  bottom: 0;
  right: 0;
  height: 120px;
  background: white;
  font-size: 0.95em;
}
body.details > #details
{
  display: block;
}

#details > div:first-child {
  border-right: 1px solid #DDD;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 500px;
}

#details > div > h3 {
  margin: 0;
  font-size: 1em;
  text-align: left;
  padding: 2px 5px;
  position: relative;
}

#details > div > h3 > .time {
  float: right;
  font-weight: normal;
}

#details > div > span, #details > div > a {
  padding-left: 5px;
  display: block;
}

#details[state="success"] .stars .summary {
  display: none;
}
#details[state="success"] .stars .note,
#details:not(.hasStar) .stars .summary {
  max-height: 300px;
  border-top: none;
}

.popupForm {
  position: absolute;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -180px;
  display: none;
  z-index: 7;
  color: white;
  padding: 0;
  font-size: 0.9em;
  cursor: default;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: solid transparent;
  border-width: 10px 18px 25px;
}
.popupForm:nth-child(1n) {
  -moz-border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  -moz-border-image: url(../images/hudborderimage.png) 10 18 25 fill repeat;
  -webkit-border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  -webkit-border-image: url(../images/hudborderimage.png) 10 18 25 fill repeat;
  -o-border-image: url(../images/hudborderimage.png) 10 18 25 repeat;
  -o-border-image: url(../images/hudborderimage.png) 10 18 25 fill repeat;
  border-image: url(../images/hudborderimage.png) 10 18 25 fill repeat;
  background: transparent;
}
#bar:nth-child(1n) { /* Preload the border image (XXX hack) */
  background: url(../images/hudborderimage.png) -1000px -1000px no-repeat white;
}
.closePopup {
  position: absolute;
  top: -5px;
  left: -7px;
  width: 13px;
  height: 13px;
  background: url(../images/closebutton.png) top left no-repeat;
  opacity: 0.5;
  text-indent: -1000px;
  overflow: hidden;
}
.closePopup:hover {
  opacity: 0.7;
}
.closePopup:active {
  opacity: 0.9;
}
.popupForm h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 19px;
}
.popupForm form,
.popupForm .popupBody {
  margin: -8px -13px -15px;
}
.popupForm table,
.popupForm p {
  padding: 8px 10px;
  margin: 0;
}
.popupForm th,
.popupForm td {
  padding: 2px;
  vertical-align: top;
}
.popupForm th,
.popupForm p {
  text-align: right;
}
.popupForm th {
  padding-bottom: 4px;
  text-shadow: 0 1px #000;
}
.popupForm .machineResult {
  padding: 0 5px;
  border-radius: 4px;
}
#addNotePopup #logNoteRuns {
  font-style: italic;
  color: #ddd;
}
.popupForm .machineResult[active=true] {
  box-shadow: 0 1px rgba(0, 0, 0, 0.6);
}
.popupForm input:not([type=submit]),
.popupForm textarea {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0pt 1px 1px rgba(0, 0, 0, 0.4) inset;
  padding: 2px;
  color: white;
  -moz-user-select: text;
}
.popupForm input:not([type=submit]):focus,
.popupForm textarea:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  -moz-outline-radius: 2px;
}
.popupForm input[type=submit] {
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  padding: 1px 10px;
  margin: 0 5px 5px 0;
}
.popupForm input[type=submit][disabled] {
  color: rgba(255, 255, 255, 0.4);
}
.popupForm input[type=submit]:focus {
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  outline: 0;
}
.popupForm input[type=submit]:not([disabled]):active:hover {
  box-shadow: inset 0 12px 16px -4px rgba(255, 255, 255, 0.25), 0 1px #000;
  background: rgba(255, 255, 255, 0.4);
}
.popupForm input[type=submit]::-moz-focus-inner {
  border: 0;
}

.data {
  width: 200px;
  font-size: 13px;
}

.mergeddata {
  width: 200px;
  background: #F2F1F0;
  font-size: 10px;
  font-style: italic;
}

.improvement {
  width: 200px;
  background: #B8D0F5;
  font-size: 10px;
  font-style: italic;
}

.table {
    margin-bottom: 0px !important;
}