{% extends "base.html" %}

{% block alerts %}

    <script type="text/javascript">

        function addMergedAlertToUI(tbl, alert, showall, rev) {
            var fields = ["push_date", "branch", "test", "platform", "percent", "reference", "investigate", "status"]    //fields have been changed to adjust the cell elements.
            if(rev != "")
                document.getElementById("jump").innerHTML="<h5><a href="+root_url+"/alerts.html?rev="+rev+"&table=1>Toggle View</a></h5>";
            var cname = "data";
            if (alert["mergedfrom"] != "" && alert["mergedfrom"] != undefined) {
                cname = "mergeddata";
            }
            if (parseInt(alert["percent"]) > 0) {
                if (showall != 1) {
                    return 0;
                }
                cname = "improvement";
            }

            var row = tbl.insertRow(-1);
            row.id = alert["id"] + "-";
            var rev = row.insertCell(0);

            for (var i = 0; i < fields.length; i++) {
                var test = fields[i];
                cell = row.insertCell(-1);
                cell.className = cname;
                cell.setAttribute('field_name', fields[i]);
                cell.onclick = editAlert(alert["id"], alert["body"]);
                var value = alert[test];
                if (fields[i] == "reference") {
                    value = "<p><a href=\"" + alert['graphurl'] + "\">" + 'graphurl' + "</a></p>"+ "<p><a href=\"" + alert['changeset'] + "\">" + 'changeset' + "</a></p>";
                    cell.onclick = "";

                } else if (fields[i] == "status") {
                    value = "<select class='form-control' id=\"" + alert["id"] + "-status\" onChange=\"updateStatus(" + alert['id'] + ", '" + alert['duplicate'] + "', '" + alert['bug'] + "', '" + alert['mergedfrom'] + "');\">";
                    var options = ["NEW", "Back Filling", "Investigating", "Duplicate", "Resolved", "Shipped", "Wont Fix", "False Alarm", "Ignore", "Not Tracking", "Backout", "Too Low"];
                    for (var j = 0; j < options.length; j++) {
                        value += "<option ";
                        if (alert['status'] == options[j]) {
                            value += "selected";
                        }
                        value += ">" + options[j] + "</option>";
                    }
                    value += "</select>";
                    cell.onclick = "";
                } else if (fields[i] == "investigate") {
                    var investigate = '';
                    var defaultValue = "<p><a href=\"#\" onClick=\"updateBug(" + alert['id'] + ", '" + alert['bug'] + "', '" + alert['status'] + "');\">add bug #</a></p>";
                    if (nvl(alert['bug'], "") != "") {
                        var bugz = alert['bug'].split(',');
                        defaultValue = "";
                        for (var b = 0; b < bugz.length; b++) {
                            var bugid = bugz[b].trim();
                            defaultValue += "<a href=\"https://bugzilla.mozilla.org/show_bug.cgi?id=" + bugid + "\">" + bugid + "</a>";
                            defaultValue += "<a href=\"#\" onClick=\"updateBug(" + alert['id'] + ", '" + alert['bug'] + "', '" + alert['status'] + "');\"> + </a><br />";
                        }
                    }
                    investigate += defaultValue;
                    defaultValue = "<p><a href=\"#\" onClick=\"updateTbplURL(" + alert['id'] + ", '" + alert['tbplurl'] + "');\">add tbpl link</a></p>";
                    if (alert['tbplurl'] != "") {
                        if (!(alert['branch'].endsWith("Non-PGO")) && (alert['tbplurl'] != null)) {
                            var url = alert['tbplurl'].split("talos");
                            alert['tbplurl'] = url[0] + "pgo%20talos" + url[1];
                            defaultValue = "<p><a href=\"" + alert['tbplurl'] + "\">tbplurl</a><p>";
                        } else {
                            defaultValue = "<p><a href=\"" + alert['tbplurl'] + "\">tbplurl</a></p>";
                        }
                        defaultValue = "<a href=\"" + alert['tbplurl'] + "\">tbplurl</a>";
                    }
                    investigate += defaultValue;
                    value = investigate;
                    cell.onclick = "";                
                }
                textNode = value || 0;
                cell.innerHTML = textNode; 
            }
            return 1
        }

    var results;
        $(document).ready(function () {
            // parse get parameters
            document.title = 'Talos Alerts';

            results = getJsonFromUrl();
            var showAll = 1;
            if (parseInt(results['showAll']) != 1) {
                showAll = 0;
            }
            var rev = results['rev'];
            if (!rev) {
                rev = "";
            }
            var test = getCookie("test");
            if (!test) {
                test = "";
            }

            var platform = getCookie("platform");
            if (!platform) {
                platform = "";
            }
            var current = "true";
            document.cookie = "platform =; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            document.cookie = "test =; expires=Thu, 01 Jan 1970 00:00:00 GMT";

            loadSelectors();
            loadAllAlerts(showAll, rev, test, platform, current);
        });
     

    </script>


{% endblock %}
