<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       #data td { width:100px; word-wrap:break-word; padding:5px}
       #data td:first-child { width:200px; word-wrap:break-word; padding:5px}
       .stitched {
           padding: 5px;
           margin: 5px;
           font-weight: bold;
           line-height: 1.3em;
           border-radius: 5px;
           font-weight: normal;
        }
    </style>
    
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/AddCommentUI.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/alerts.js"></script>

    {% block expired %}

    {% endblock %}

    {% block alerts %}

    {% endblock %}



    </head>
<body class="noscript">
    <div class="container-fluid">
        <div text-align="center">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <td><a href="/alerts.html">Alerts</a></td>
                        <td></td>
                        <td><a href="/expired.html">Expired alerts</a></td>
                        <td></td>
                        <td><a href="/report.html">Reports</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="alerts.html">Talos Alert Manager</a>

                        <select class="form-control" id="actions" onchange="performAction()">
                                <option selected>Actions</option>
                                <option >Change Revision</option>
                                <option >Change Branch</option>
                                <option>Add Bug</option>
                                <option>Add Comment</option>
                                <option>Backout</option>
                                <option>NEW</option>
                                <option>Duplicate</option>
                                <option>Back Filling</option>
                                <option>Investigating</option>
                                <option>Resolved</option>
                                <option>Shipped</option>
                                <option>Wont Fix</option>
                                <option>False Alarm</option>
                                <option>Ignore</option>
                                <option>Not Tracking</option>
                                <option>Too Low</option>

                            </select>
                
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav top-nav">
                    <li class="dropdown">
                        <select class="form-control" id="rev">
                                <option value="">Select Revision</option>
                        </select>
                    </li>
                    <li class="dropdown">
                        <select class="form-control" id="test">
                            <option value="">Select Test</option>
                        </select>
                    </li >
                    <li class="dropdown">
                          <select class="form-control" id="platform">
                                <option value="">Select Platform</option>
                            </select>
                    </li>
                    <li >
                        <u>ShowAll</u>
                        <input type="checkbox" id="checkbox" Value="Show All"/>

                        <input type="button" class="btn btn-primary" class="button" id="button" type="button" value="Filter"/>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id = "jump" align = "right"></div>
        <div id="revisions">
        </div>

        <div id="addDuplicatePopup" class="popupForm" style="display: none;">
          <a class="closePopup" href="javascript:goBack();">close</a>
          <form id="addDuplicateForm">
            <h2>Mark as duplicate of original revision</h2>
            <p>
            <input required type="text" id="logDuplicateText" value="">
            <input type="submit" value="Mark as Duplicate">
          </form>
        </div>

        <div id="addBugPopup" class="popupForm" style="display: none;">
          <a class="closePopup" onclick="document.getElementById('addBugPopup').style.display='none';">close</a>
          <form id="addBugForm">
            <h2>Bug that tracks this regression</h2>
            <p>
            <input required type="text" id="logBugText" value="">
            <input type="hidden" id="logBugStatusText" value="">
            <input type="submit" value="Add Bug">
          </form>
        </div>

        <div id="changeRevPopup" class="popupForm" style="display: none;">
          <a class="closePopup" onclick="document.getElementById('changeRevPopup').style.display='none';">close</a>
          <form id="changeRevForm">
            <h2>New Revision</h2>
            <p>
            <input required type="text" id="newRev" value="">
            <input type="submit" value="Update">
          </form>
        </div>

        <div id="addTBPLPopup" class="popupForm" style="display: none;">
          <a class="closePopup" href="javascript:goBack();">close</a>
          <form id="addTBPLForm">
            <h2>Link to TBPL view of jobs</h2>
            <p>
            <input required type="text" id="logTbplText" value="">
            <input type="submit" value="Add Link">
          </form>
        </div>

        <div id="addNotePopup" class="popupForm" style="display: none;">
          <a class="closePopup" onclick="document.getElementById('addNotePopup').style.display='none';">close</a>
          <form id="addNoteForm">
            <h2>Add a Comment</h2>
            <table>
              <tr>
                <th><label for="logNoteEmail">Name/nick:</label></th>
                <td><input required type="text" id="logNoteEmail" value=""></td>
              </tr>
              <tr>
                <th><label for="logNoteStatus">Status:</label></th>
                <td><input type="text" id="logNoteStatus" value=""></td>
              </tr>
              <tr>
                <th><label for="logNoteBug">Bug #:</label></th>
                <td><input type="text" id="logNoteBug" value=""></td>
              </tr>
              <tr>
                <th><label for="logNoteBody">Alert Content:</label></th>
                <td id="logNoteBody"><span class="lnBody"></span></td>
              </tr>
              <tr>
                <th><label for="logNoteText">Comment:</label></th>
                <td><textarea required cols="40" rows="15" id="logNoteText"></textarea></td>
              </tr>
            </table>
            <p><input type="submit" value="Add Comment">
          </form>
        </div>
    </div>

    <div  id="addCommentpopup" style="display: none;">
          <p>Name/email  <input required type="text" id="commentName" value=""></p>
          <p>Comment <textarea required cols="20" rows="5" id="commentText"></textarea></p>
    </div>

    <div  id="changeBranchpopup" style="display: none;">
          <p>
            <select class="form-control" id="branchName">
              <option selected>Select Branch</option>
              <option>Mozilla-Inbound</option>
              <option>B2g-Inbound-Non-PGO</option>
              <option>Firefox</option>
              <option>Mozilla-Inbound-Non-PGO</option>
              <option>Firefox-Non-PGO</option>
              <option>Mozilla-Beta</option>
              <option>Fx-Team-Non-PGO</option>
              <option>Mozilla-Aurora</option>
              <option>Fx-Team</option>
              <option>B2g-Inbound</option>
              <option>mobile</option>
            </select>
          </p>
          <p>Revision <input required type="text" id="revisionName" value=""></p>
    </div>

    <div  id="fileBugpopup" style="display: none;">
          <p>Summary <textarea required cols="90" rows="2" id="summaryText" value=""></textarea></p>
          <p>Description <textarea required cols="90" rows="14" id="descriptionText" value=""></textarea></p>
    </div>

    <div  id="markDuplicatepopup" style="display: none;">
          <p>Keyrevision  <input required type="text" id="markDuplicateRev" value=""></p>
    </div>

    <div  id="BackoutPopup" style="display: none;">
          <p>Bug  <input required type="text" id="BackoutPopupText" value=""></p>
    </div>

    <div id="hide" align="left"></div>
    <div id="revision" align="center"></div>
    <div align="center">
      <table class="sortable" id="data" border="1">
        <tr>
        </tr>
      </table>
    </div>
    <div align="center">
      <table id="detail">
        <tr>
        </tr>
      </table>
    </div>
    <p id="warn" align="center"></p>

</body>
</html>



